/* CSS declarations go here */

.container {
  margin: 0 auto;
  width: 600px;
}

.new-pressure {
  .new-pressure-section {
    display: block;

    &+ .new-pressure-section {
      margin-top: 0.5em;
    }
  }
  .new-pressure-section.submits {
    margin-top: 1em;
  }
}
