/* CSS declarations go here */

.container {
  margin: 0 auto;
  max-width: 600px;
}

.new-pressure {
  .new-pressure-section {
    display: block;

    &+ .new-pressure-section {
      margin-top: .25em;
    }
  }
  .new-pressure-section.submits {
    margin-top: 1em;
  }
  .new-pressure-user {
    padding-left: 2px;
    padding-right: 2px;
    width: calc(20% - 6px);
  }
  .new-pressure-param {
    padding-right: 2px;
    width: calc(80% - 13px);
    &+ .new-pressure-param {
      margin-top: .25em;
      margin-left: calc(20% + 6px);
    }
  }
}
