/* CSS declarations go here */

.container {
  margin: 0 auto;
  width: 600px;
}

.new-pressure {
  input {
    display: block;

    &+ input {
      margin-top: 0.5em;
    }
  }
  input[type=submit] {
    margin-top: 1em;
  }
}
